<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
		http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">


    <bean id="testProcessor" class="com.javarticles.camel.TestProcessor">
    </bean>

    <camelContext
            xmlns="http://camel.apache.org/schema/spring">
        <route>
            <from uri="file:C:/app/IN?noop=true"/>
            <log message="Starting Camel Route" loggingLevel="INFO"/>
            <to uri="bean:testProcessor"/>
            <log message="Ending Camel Route" loggingLevel="INFO"/>

        </route>
        <route>
            <from uri="file:C:/app/OUT?noop=true"/>

            <to uri="file:C:/app/OUTER"/>


        </route>
    </camelContext>



</beans>
